Hummingbirds Unity/Assets/TextMesh Pro/Documentation.meta
Hummingbirds Unity/Assets/TextMesh Pro/Fonts.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources.meta
Hummingbirds Unity/Assets/TextMesh Pro/Sprites.meta
Hummingbirds Unity/Assets/TextMesh Pro/Documentation/TextMesh Pro User Guide 2016.pdf
Hummingbirds Unity/Assets/TextMesh Pro/Documentation/TextMesh Pro User Guide 2016.pdf.meta
Hummingbirds Unity/Assets/TextMesh Pro/Fonts/LiberationSans - OFL.txt
Hummingbirds Unity/Assets/TextMesh Pro/Fonts/LiberationSans - OFL.txt.meta
Hummingbirds Unity/Assets/TextMesh Pro/Fonts/LiberationSans.ttf
Hummingbirds Unity/Assets/TextMesh Pro/Fonts/LiberationSans.ttf.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Fonts & Materials.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/LineBreaking Following Characters.txt
Hummingbirds Unity/Assets/TextMesh Pro/Resources/LineBreaking Following Characters.txt.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/LineBreaking Leading Characters.txt
Hummingbirds Unity/Assets/TextMesh Pro/Resources/LineBreaking Leading Characters.txt.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Sprite Assets.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Style Sheets.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/TMP Settings.asset
Hummingbirds Unity/Assets/TextMesh Pro/Resources/TMP Settings.asset.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Drop Shadow.mat
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Drop Shadow.mat.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Outline.mat
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Outline.mat.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_Bitmap.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_Bitmap.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_Bitmap-Custom-Atlas.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_Bitmap-Custom-Atlas.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_Bitmap-Mobile.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_Bitmap-Mobile.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF Overlay.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF Overlay.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Mobile Masking.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Mobile Masking.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Mobile Overlay.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Mobile Overlay.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Mobile.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Mobile.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Surface.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Surface.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Surface-Mobile.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_SDF-Surface-Mobile.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_Sprite.shader
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMP_Sprite.shader.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMPro.cginc
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMPro.cginc.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMPro_Properties.cginc
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMPro_Properties.cginc.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMPro_Surface.cginc
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Shaders/TMPro_Surface.cginc.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Sprite Assets/EmojiOne.asset
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Sprite Assets/EmojiOne.asset.meta
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Style Sheets/Default Style Sheet.asset
Hummingbirds Unity/Assets/TextMesh Pro/Resources/Style Sheets/Default Style Sheet.asset.meta
Hummingbirds Unity/Assets/TextMesh Pro/Sprites/EmojiOne Attribution.txt
Hummingbirds Unity/Assets/TextMesh Pro/Sprites/EmojiOne Attribution.txt.meta
Hummingbirds Unity/Assets/TextMesh Pro/Sprites/EmojiOne.json
Hummingbirds Unity/Assets/TextMesh Pro/Sprites/EmojiOne.json.meta
Hummingbirds Unity/Assets/TextMesh Pro/Sprites/EmojiOne.png
Hummingbirds Unity/Assets/TextMesh Pro/Sprites/EmojiOne.png.meta
